<h1>DragonBall Page</h1>
<hr/>

<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar: {{name()}}</h3>
    <input
      type="text"
      class="form-control"
      placeholder="Nombe del Personaje"
      [value]="name()"
      (input) = "name.set(txtName.value)"
      #txtName

    >
    <h4>Power: {{power()}}</h4>
    <input
    type="number"
    class="form-control mt-2"
    placeholder="Poder"
    [value] ='power()'
    (input)="power.set(+txtPower.value)"
    #txtPower

    >
    <button
      class="mt-2 btn btn-primary"
      (click)="ImprimirEnConsola()"

    >Agregar</button>
  </div>

  <div class="col-12 col-sm-6">
    <dragonball-character-list [character]="character()"/>
  </div>
</section>
